body {
  position: fixed;
  inset: 0;
  margin: 0;
  display: flex;
  flex-direction: row;

  padding: 8px;
  gap: 8px;
  background: #000;
}

audio-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 3px;
}

audio-column > span {
  height: 100%;
  width: 100%;
}

audio-column > span.on {
  background: #fff;
}
